[Desktop Entry]
Name=Aziz lumière !!
Comment=Automate pour Gnome
GenericName=Aziz lumière !!
Exec=/usr/bin/aziz
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=info
Categories=System;GTK;
StartupWMClass=Aziz
StartupNotify=true
Name[fr]=Aziz lumière !!
Comment[fr]=Lire et écrire des courriels
Keywords=Aziz;System;Apt;Update;Upgrade;Clean;
Name[fr_FR]=Aziz lumière !!
